/* Reset some default styles */
body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 20px;
    padding: 20px;
    background-color: #1f1f1f; /* Dark background */
    color: #fff; /* Light text */
    word-wrap: break-word;
}

/* Style headings */
h1, h2, h3 {
    padding: 20px 0;
    margin: 0;
}

/* Style links */
a {
    color: #4e91b2;
    text-decoration: none;
}

a:hover {
    color: #007bff;
    text-decoration: underline;
}

/* Style paragraphs */
p {
    line-height: 1.6;
    margin: 10px 0;
}

/* Style code blocks */
pre {
    background-color: #333; /* Dark code block background */
    color: #fff; /* Light text in code blocks */
    padding: 10px;
    overflow-x: auto;
    border-radius: 5px;
}

/* Style lists */
ul, ol {
    line-height: 1.6;
    padding-left: 20px;
}

/* Style the Thank You and Contact Me sections */
#thank-you, #contact {
    background-color: #333; /* Dark background for sections */
    color: #fff; /* Light text in sections */
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
    pre {
        font-size: 14px;
    }
    ul, ol {
        font-size: 16px;
    }
    #thank-you, #contact {
        padding: 10px;
    }
}
