/* Reset some default styles */
body {
    font-family: Arial, sans-serif;
    font-size: 22px;
    margin: 20px;
    padding: 20px;
    background-color: #000C18; /* GitHub Dark Background */
    color: #c9d1d9; /* Light text */
    line-height: 1.6;
    border: 2px solid #30363d; /* Add a border around the body */
    border-radius: 5px; /* Rounded corners */
}

/* Style headings */
h1, h2, h3 {
    padding: 20px 0;
    margin: 0;
    color: #6091e4; /* GitHub Blue for Headings */
}

/* Style paragraphs */
p {
    margin: 10px 0;
}

/* Style code blocks */
pre {
    background-color: #040B12;
    color: #c9d1d9;
    padding: 10px;
    border: 1px dotted #161B22; /* GitHub code block border */
    border-radius: 10px;
    overflow-x: auto;
    line-height: 1.4;
    white-space: pre-wrap;
}

/* Style lists */
ul, ol {
    padding-left: 20px;
}

a{
    color: #6091e4;
}

/* Style the Thank You and Contact Me sections */
#thank-you, #contact {
    background-color: #0a1a2a;
    color: #c9d1d9;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    body{
        font-size: 16px;
        padding: 5px 20px 0 5px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 18px;
    }
    p {
        font-size: 16px;
    }
    pre {
        font-size: 14px;
    }
    ul, ol {
        font-size: 16px;
    }
    img{
        width: 30px;
        padding: 4px;
    }
    #thank-you, #contact {
        padding: 10px;
    }
}
